05-02-2021/GH-sync-sheets
{"id":"33","name":"GH-sync-sheets","active":false,"nodes":[{"parameters":{},"name":"Start","type":"n8n-nodes-base.start","typeVersion":1,"position":[280,80]},{"parameters":{"triggerTimes":{"item":[{"mode":"everyHour"}]}},"name":"Cron","type":"n8n-nodes-base.cron","typeVersion":1,"position":[480,80]},{"parameters":{"operation":"delete","sheetId":"1lq6bGd5LkxM0Kx4lvQhNUNRoE4dsJMcnz6qDHOaWN_I","toDelete":{"rows":[{"sheetId":1441533054,"startIndex":1,"amount":3000}]}},"name":"Empty Sheet","type":"n8n-nodes-base.googleSheets","typeVersion":1,"position":[670,80],"credentials":{"googleApi":"sheet-manas"}},{"parameters":{"sheetId":"10vfQV-qtBoKM7mM5PaCZkiwIY69V4B41_6kunESIPPQ","range":"issues-prime!A:K","options":{}},"name":"Read Prime Sheet","type":"n8n-nodes-base.googleSheets","typeVersion":1,"position":[680,300],"credentials":{"googleApi":"sheet-manas"}},{"parameters":{"operation":"append","sheetId":"1lq6bGd5LkxM0Kx4lvQhNUNRoE4dsJMcnz6qDHOaWN_I","range":"issues-all!A:L","options":{}},"name":"Add data set 1","type":"n8n-nodes-base.googleSheets","typeVersion":1,"position":[980,300],"credentials":{"googleApi":"sheet-manas"}},{"parameters":{"sheetId":"10vfQV-qtBoKM7mM5PaCZkiwIY69V4B41_6kunESIPPQ","range":"issues-codex!A:K","options":{}},"name":"Read Codex Sheet","type":"n8n-nodes-base.googleSheets","typeVersion":1,"position":[680,520],"credentials":{"googleApi":"sheet-manas"}},{"parameters":{"values":{"number":[],"string":[{"name":"product","value":"codex"}]}},"name":"Set - data 2","type":"n8n-nodes-base.set","typeVersion":1,"position":[830,520]},{"parameters":{"values":{"number":[{"name":"number","value":"= {{$node[\"Read Prime Sheet\"].json[\"number\"]}}"}],"string":[{"name":"product","value":"prime"}]}},"name":"Set - data 1","type":"n8n-nodes-base.set","typeVersion":1,"position":[830,300]},{"parameters":{"operation":"append","sheetId":"1lq6bGd5LkxM0Kx4lvQhNUNRoE4dsJMcnz6qDHOaWN_I","range":"issues-all!A:L","options":{}},"name":"Add data set 2","type":"n8n-nodes-base.googleSheets","typeVersion":1,"position":[980,520],"credentials":{"googleApi":"sheet-manas"}},{"parameters":{"sheetId":"10vfQV-qtBoKM7mM5PaCZkiwIY69V4B41_6kunESIPPQ","range":"issues-atlas!A:K","options":{}},"name":"Read Atlas Sheet","type":"n8n-nodes-base.googleSheets","typeVersion":1,"position":[680,760],"credentials":{"googleApi":"sheet-manas"}},{"parameters":{"values":{"number":[],"string":[{"name":"product","value":"atlas"}]}},"name":"Set - data 3","type":"n8n-nodes-base.set","typeVersion":1,"position":[830,760]},{"parameters":{"values":{"number":[],"string":[{"name":"product","value":"meraki"}]}},"name":"Set - data 4","type":"n8n-nodes-base.set","typeVersion":1,"position":[830,1020]},{"parameters":{"sheetId":"10vfQV-qtBoKM7mM5PaCZkiwIY69V4B41_6kunESIPPQ","range":"issues-web-client!A:K","options":{}},"name":"Read OMS sheet","type":"n8n-nodes-base.googleSheets","typeVersion":1,"position":[680,1020],"credentials":{"googleApi":"sheet-manas"}},{"parameters":{"operation":"append","sheetId":"1lq6bGd5LkxM0Kx4lvQhNUNRoE4dsJMcnz6qDHOaWN_I","range":"issues-all!A:L","options":{}},"name":"Add data set 3","type":"n8n-nodes-base.googleSheets","typeVersion":1,"position":[980,760],"credentials":{"googleApi":"sheet-manas"}},{"parameters":{"operation":"append","sheetId":"1lq6bGd5LkxM0Kx4lvQhNUNRoE4dsJMcnz6qDHOaWN_I","range":"issues-all!A:L","options":{}},"name":"Add data set 4","type":"n8n-nodes-base.googleSheets","typeVersion":1,"position":[980,1020],"credentials":{"googleApi":"sheet-manas"}},{"parameters":{"values":{"number":[],"string":[{"name":"product","value":"meraki"}]}},"name":"Set - data","type":"n8n-nodes-base.set","typeVersion":1,"position":[830,1220]},{"parameters":{"sheetId":"10vfQV-qtBoKM7mM5PaCZkiwIY69V4B41_6kunESIPPQ","range":"issues-frodo!A:K","options":{}},"name":"Read OMS sheet1","type":"n8n-nodes-base.googleSheets","typeVersion":1,"position":[680,1220],"credentials":{"googleApi":"sheet-manas"}},{"parameters":{"operation":"append","sheetId":"1lq6bGd5LkxM0Kx4lvQhNUNRoE4dsJMcnz6qDHOaWN_I","range":"issues-all!A:L","options":{}},"name":"Add data set","type":"n8n-nodes-base.googleSheets","typeVersion":1,"position":[980,1220],"credentials":{"googleApi":"sheet-manas"}},{"parameters":{"values":{"number":[],"string":[{"name":"product","value":"meraki"}]}},"name":"Set - data1","type":"n8n-nodes-base.set","typeVersion":1,"position":[820,1410]},{"parameters":{"sheetId":"10vfQV-qtBoKM7mM5PaCZkiwIY69V4B41_6kunESIPPQ","range":"issues-tesla!A:K","options":{}},"name":"Read OMS sheet2","type":"n8n-nodes-base.googleSheets","typeVersion":1,"position":[670,1410],"credentials":{"googleApi":"sheet-manas"}},{"parameters":{"operation":"append","sheetId":"1lq6bGd5LkxM0Kx4lvQhNUNRoE4dsJMcnz6qDHOaWN_I","range":"issues-all!A:L","options":{}},"name":"Add data set1","type":"n8n-nodes-base.googleSheets","typeVersion":1,"position":[970,1410],"credentials":{"googleApi":"sheet-manas"}}],"connections":{"Cron":{"main":[[{"node":"Empty Sheet","type":"main","index":0}]]},"Empty Sheet":{"main":[[{"node":"Read Prime Sheet","type":"main","index":0}]]},"Read Prime Sheet":{"main":[[{"node":"Set - data 1","type":"main","index":0}]]},"Set - data 1":{"main":[[{"node":"Add data set 1","type":"main","index":0}]]},"Add data set 1":{"main":[[{"node":"Read Codex Sheet","type":"main","index":0}]]},"Read Codex Sheet":{"main":[[{"node":"Set - data 2","type":"main","index":0}]]},"Set - data 2":{"main":[[{"node":"Add data set 2","type":"main","index":0}]]},"Add data set 2":{"main":[[{"node":"Read Atlas Sheet","type":"main","index":0}]]},"Read Atlas Sheet":{"main":[[{"node":"Set - data 3","type":"main","index":0}]]},"Set - data 3":{"main":[[{"node":"Add data set 3","type":"main","index":0}]]},"Add data set 3":{"main":[[{"node":"Read OMS sheet","type":"main","index":0}]]},"Read OMS sheet":{"main":[[{"node":"Set - data 4","type":"main","index":0}]]},"Set - data 4":{"main":[[{"node":"Add data set 4","type":"main","index":0}]]},"Set - data":{"main":[[{"node":"Add data set","type":"main","index":0}]]},"Read OMS sheet1":{"main":[[{"node":"Set - data","type":"main","index":0}]]},"Set - data1":{"main":[[{"node":"Add data set1","type":"main","index":0}]]},"Read OMS sheet2":{"main":[[{"node":"Set - data1","type":"main","index":0}]]},"Add data set 4":{"main":[[{"node":"Read OMS sheet1","type":"main","index":0}]]},"Add data set":{"main":[[{"node":"Read OMS sheet2","type":"main","index":0}]]}},"createdAt":"2020-10-24T19:18:30.746Z","updatedAt":"2021-04-28T20:20:54.654Z","settings":{},"staticData":null}