GH-issues-prime-1
{"id":"26","name":"GH-issues-prime-1","active":true,"nodes":[{"parameters":{},"name":"Start","type":"n8n-nodes-base.start","typeVersion":1,"position":[320,600]},{"parameters":{"conditions":{"boolean":[],"string":[{"value1":"={{$node[\"Github Trigger - 2\"].json[\"body\"][\"action\"]}}","value2":"assigned"}]},"combineOperation":"=all"},"name":"IF","type":"n8n-nodes-base.if","typeVersion":1,"position":[790,570]},{"parameters":{"operation":"lookup","sheetId":"10vfQV-qtBoKM7mM5PaCZkiwIY69V4B41_6kunESIPPQ","range":"issues-prime!A:K","lookupColumn":"number","lookupValue":"={{$node[\"IF\"].json[\"body\"][\"issue\"][\"number\"]}}","options":{"returnAllMatches":true,"valueRenderMode":"UNFORMATTED_VALUE"}},"name":"Lookup by number3","type":"n8n-nodes-base.googleSheets","typeVersion":1,"position":[950,470],"credentials":{"googleApi":"sheet-manas"}},{"parameters":{"values":{"number":[],"string":[{"name":"assignee","value":"={{$node[\"Github Trigger - 2\"].json[\"body\"][\"assignee\"][\"login\"]}}"}]}},"name":"Setup data2","type":"n8n-nodes-base.set","typeVersion":1,"position":[1140,470]},{"parameters":{"operation":"update","sheetId":"10vfQV-qtBoKM7mM5PaCZkiwIY69V4B41_6kunESIPPQ","range":"issues-prime!A:K","keyRow":"=0","key":"=number","options":{"valueInputMode":"RAW"}},"name":"Update sheet4","type":"n8n-nodes-base.googleSheets","typeVersion":1,"position":[1340,470],"credentials":{"googleApi":"sheet-manas"}},{"parameters":{"owner":"urbanpiper","repository":"issues-prime","events":["issues"]},"name":"Github Trigger - 2","type":"n8n-nodes-base.githubTrigger","typeVersion":1,"position":[590,570],"credentials":{"githubApi":"github - manas account"}},{"parameters":{"values":{"number":[],"string":[{"name":"assignee","value":"="}]}},"name":"Setup data4","type":"n8n-nodes-base.set","typeVersion":1,"position":[1350,640]},{"parameters":{"operation":"update","sheetId":"10vfQV-qtBoKM7mM5PaCZkiwIY69V4B41_6kunESIPPQ","range":"issues-prime!A:K","keyRow":"=0","key":"=number","options":{"valueInputMode":"RAW"}},"name":"Update sheet5","type":"n8n-nodes-base.googleSheets","typeVersion":1,"position":[1520,640],"credentials":{"googleApi":"sheet-manas"}},{"parameters":{"operation":"lookup","sheetId":"10vfQV-qtBoKM7mM5PaCZkiwIY69V4B41_6kunESIPPQ","range":"issues-prime!A:K","lookupColumn":"number","lookupValue":"={{$node[\"IF\"].json[\"body\"][\"issue\"][\"number\"]}}","options":{"returnAllMatches":true,"valueRenderMode":"UNFORMATTED_VALUE"}},"name":"Lookup by number2","type":"n8n-nodes-base.googleSheets","typeVersion":1,"position":[1140,640],"credentials":{"googleApi":"sheet-manas"}},{"parameters":{"conditions":{"boolean":[],"string":[{"value1":"={{$node[\"Github Trigger - 2\"].json[\"body\"][\"action\"]}}","value2":"unassigned"}]},"combineOperation":"=all"},"name":"IF1","type":"n8n-nodes-base.if","typeVersion":1,"position":[960,650]}],"connections":{"Github Trigger - 2":{"main":[[{"node":"IF","type":"main","index":0}]]},"IF":{"main":[[{"node":"Lookup by number3","type":"main","index":0}],[{"node":"IF1","type":"main","index":0}]]},"Lookup by number3":{"main":[[{"node":"Setup data2","type":"main","index":0}]]},"Setup data2":{"main":[[{"node":"Update sheet4","type":"main","index":0}]]},"Lookup by number2":{"main":[[{"node":"Setup data4","type":"main","index":0}]]},"Setup data4":{"main":[[{"node":"Update sheet5","type":"main","index":0}]]},"IF1":{"main":[[{"node":"Lookup by number2","type":"main","index":0}]]}},"createdAt":"2020-10-22T16:36:59.334Z","updatedAt":"2020-10-23T07:29:33.297Z","settings":{},"staticData":{"node:Github Trigger - 2":{"webhookId":257639863,"webhookEvents":["issues"]}}}