GH-Sheet (Configuration)
{"id":"65","name":"GH-Sheet (Configuration)","active":true,"nodes":[{"parameters":{},"name":"Start","type":"n8n-nodes-base.start","typeVersion":1,"position":[100,460]},{"parameters":{"owner":"urbanpiper","repository":"configuration","events":["issues"]},"name":"Github Trigger","type":"n8n-nodes-base.githubTrigger","typeVersion":1,"position":[380,460],"credentials":{"githubApi":"Github-Bunkar's-(2)"}},{"parameters":{"dataType":"string","value1":"={{$node[\"Github Trigger\"].json[\"body\"][\"action\"]}}","rules":{"rules":[{"value2":"opened"},{"value2":"labeled","output":1},{"value2":"assigned","output":2},{"value2":"closed","output":3}]}},"name":"Switch","type":"n8n-nodes-base.switch","typeVersion":1,"position":[540,460]},{"parameters":{"keepOnlySet":true,"values":{"number":[{"name":"number","value":"={{$node[\"open_manipulation\"].json[\"number\"]}}"},{"name":"created_at","value":"={{$node[\"open_manipulation\"].json[\"created_at\"]}}"},{"name":"updated_at","value":"={{$node[\"open_manipulation\"].json[\"updated_at\"]}}"}],"string":[{"name":"title","value":"={{$node[\"open_manipulation\"].json[\"title\"]}}"},{"name":"status","value":"={{$node[\"open_manipulation\"].json[\"state\"]}}"},{"name":"labels","value":"={{$node[\"Open\"].json[\"labels\"]}}"},{"name":"user","value":"={{$node[\"open_manipulation\"].json[\"user\"][\"login\"]}}"},{"name":"assignee","value":"={{$node[\"open_manipulation\"].json[\"assignee\"][\"login\"]}}"}]}},"name":"Set","type":"n8n-nodes-base.set","typeVersion":1,"position":[1470,350]},{"parameters":{"operation":"append","sheetId":"1039rkY3uqz8BpQOf5pTjgFvWYfVUqX0d8JBXqK6sPLE","range":"master!A:I","options":{}},"name":"Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":1,"position":[1740,350],"credentials":{"googleApi":"sheets-production-2"}},{"parameters":{"functionCode":"let labels = $node[\"Github Trigger\"].json[\"body\"][\"issue\"][\"labels\"];\n\nlet updated_labels = \"\";\nlet status = \"open\";\n\nfor (i = 0; i < labels.length; i++) {\n  updated_labels += labels[i][\"name\"] + \",\";\n}\n\nitems[0].json.labels = updated_labels;\nitems[0].json.status = status;\n\nreturn items;\n"},"name":"Open","type":"n8n-nodes-base.function","typeVersion":1,"position":[800,350]},{"parameters":{"functionCode":"let labels = $node[\"Github Trigger\"].json[\"body\"][\"issue\"][\"labels\"];\nlet issue = $node[\"Github Trigger\"].json[\"body\"][\"issue\"];\n\nlet updated_labels = \"\";\n\nlet updated_at = issue.updated_at\n\nfor (i = 0; i < labels.length; i++) {\n  updated_labels += labels[i][\"name\"] + \",\";\n}\n\nitems[0].json.new_labels = updated_labels;\nitems[0].json.time_updated_at = updated_at;\n\nreturn items;\n"},"name":"Update","type":"n8n-nodes-base.function","typeVersion":1,"position":[800,500]},{"parameters":{"operation":"lookup","sheetId":"1039rkY3uqz8BpQOf5pTjgFvWYfVUqX0d8JBXqK6sPLE","range":"master!A:I","lookupColumn":"number","lookupValue":"={{$node[\"update_manipulation\"].json[\"number\"]}}","options":{}},"name":"Google Sheets1","type":"n8n-nodes-base.googleSheets","typeVersion":1,"position":[1250,500],"credentials":{"googleApi":"sheets-production-2"}},{"parameters":{"operation":"update","sheetId":"1039rkY3uqz8BpQOf5pTjgFvWYfVUqX0d8JBXqK6sPLE","range":"master!A:I","key":"=number","options":{}},"name":"Google Sheets2","type":"n8n-nodes-base.googleSheets","typeVersion":1,"position":[1740,500],"credentials":{"googleApi":"sheets-production-2"}},{"parameters":{"functionCode":"let labels = $node[\"Github Trigger\"].json[\"body\"][\"issue\"][\"assignee\"];\n\nlet updated_labels = \"\";\n\nfor (i = 0; i < labels.length; i++) {\n  updated_labels += labels[i][\"name\"] + \",\";\n}\n\nitems[0].json.new_labels = updated_labels;\n\nreturn items;\n"},"name":"Assign","type":"n8n-nodes-base.function","typeVersion":1,"position":[800,650]},{"parameters":{"operation":"lookup","sheetId":"1039rkY3uqz8BpQOf5pTjgFvWYfVUqX0d8JBXqK6sPLE","range":"master!A:I","lookupColumn":"number","lookupValue":"={{$node[\"assign_manipulation\"].json[\"number\"]}}","options":{}},"name":"Google Sheets3","type":"n8n-nodes-base.googleSheets","typeVersion":1,"position":[1250,650],"credentials":{"googleApi":"sheets-production-2"}},{"parameters":{"values":{"string":[{"name":"assignee","value":"={{$node[\"Assign\"].json[\"body\"][\"assignee\"][\"login\"]}}"}],"number":[{"name":"updated_at","value":"={{$node[\"assign_manipulation\"].json[\"updated_at\"]}}"}]}},"name":"Set2","type":"n8n-nodes-base.set","typeVersion":1,"position":[1470,650]},{"parameters":{"operation":"update","sheetId":"1039rkY3uqz8BpQOf5pTjgFvWYfVUqX0d8JBXqK6sPLE","range":"master!A:I","key":"number","options":{}},"name":"Google Sheets4","type":"n8n-nodes-base.googleSheets","typeVersion":1,"position":[1740,650],"credentials":{"googleApi":"sheets-production-2"}},{"parameters":{"functionCode":"let issue = $node[\"Github Trigger\"].json[\"body\"][\"issue\"];\n\nlet status = \"closed\";\n\nlet closed_at = issue.closed_at;\n\nitems[0].json.new_status = status;\nitems[0].json.time_closed_at = closed_at;\n\nreturn items;\n"},"name":"Closed","type":"n8n-nodes-base.function","typeVersion":1,"position":[790,800]},{"parameters":{"operation":"lookup","sheetId":"1039rkY3uqz8BpQOf5pTjgFvWYfVUqX0d8JBXqK6sPLE","range":"master!A:I","lookupColumn":"number","lookupValue":"={{$node[\"close_manipulation\"].json[\"number\"]}}","options":{}},"name":"Google Sheets5","type":"n8n-nodes-base.googleSheets","typeVersion":1,"position":[1250,800],"credentials":{"googleApi":"sheets-production-2"}},{"parameters":{"values":{"number":[{"name":"updated_at","value":"={{$node[\"close_manipulation\"].json[\"updated_at\"]}}"}],"string":[{"name":"status","value":"={{$node[\"Closed\"].json[\"new_status\"]}}"}]}},"name":"Set3","type":"n8n-nodes-base.set","typeVersion":1,"position":[1470,800]},{"parameters":{"operation":"update","sheetId":"1039rkY3uqz8BpQOf5pTjgFvWYfVUqX0d8JBXqK6sPLE","range":"master!A:I","key":"number","options":{}},"name":"Google Sheets6","type":"n8n-nodes-base.googleSheets","typeVersion":1,"position":[1740,800],"credentials":{"googleApi":"sheets-production-2"}},{"parameters":{"values":{"string":[{"name":"labels","value":"={{$node[\"Update\"].json[\"new_labels\"]}}"}],"number":[{"name":"updated_at","value":"={{$node[\"update_manipulation\"].json[\"updated_at\"]}}"}]}},"name":"Set1","type":"n8n-nodes-base.set","typeVersion":1,"position":[1470,500]},{"parameters":{"functionCode":"item = item.body.issue;\nlet timecreated = item.created_at.split(' ').slice(0, 2).join(' ');\nlet created = new Date(timecreated);\nitem.created_at = (created.getMonth() + 1) + \"/\" + created.getDate()+ \"/\" + created.getFullYear() + \" \" + created.getHours() + \":\" + parseMinute(created.getMinutes()) + \":\" + created.getSeconds();\nlet timestamp = item.updated_at.split(' ').slice(0, 2).join(' ');\nlet stamp = new Date(timestamp);\nitem.updated_at = (stamp.getMonth() + 1) + \"/\" + stamp.getDate()+ \"/\" + stamp.getFullYear() + \" \" + stamp.getHours() + \":\" + parseMinute(stamp.getMinutes()) + \":\" + stamp.getSeconds();\nfunction parseMinute(input){\n  if(input < 10){\n    return `0${input}`;\n  }\n  return input;\n}\nreturn item;\n"},"name":"open_manipulation","type":"n8n-nodes-base.functionItem","typeVersion":1,"position":[1000,350]},{"parameters":{"functionCode":"item = item.body.issue;\nlet timecreated = item.created_at.split(' ').slice(0, 2).join(' ');\nlet created = new Date(timecreated);\nitem.created_at = (created.getMonth() + 1) + \"/\" + created.getDate()+ \"/\" + created.getFullYear() + \" \" + created.getHours() + \":\" + parseMinute(created.getMinutes()) + \":\" + created.getSeconds();\nlet timestamp = item.updated_at.split(' ').slice(0, 2).join(' ');\nlet stamp = new Date(timestamp);\nitem.updated_at = (stamp.getMonth() + 1) + \"/\" + stamp.getDate()+ \"/\" + stamp.getFullYear() + \" \" + stamp.getHours() + \":\" + parseMinute(stamp.getMinutes()) + \":\" + stamp.getSeconds();\nfunction parseMinute(input){\n  if(input < 10){\n    return `0${input}`;\n  }\n  return input;\n}\nreturn item;\n"},"name":"update_manipulation","type":"n8n-nodes-base.functionItem","typeVersion":1,"position":[1000,500]},{"parameters":{"functionCode":"item = item.body.issue;\nlet timecreated = item.created_at.split(' ').slice(0, 2).join(' ');\nlet created = new Date(timecreated);\nitem.created_at = (created.getMonth() + 1) + \"/\" + created.getDate()+ \"/\" + created.getFullYear() + \" \" + created.getHours() + \":\" + parseMinute(created.getMinutes()) + \":\" + created.getSeconds();\nlet timestamp = item.updated_at.split(' ').slice(0, 2).join(' ');\nlet stamp = new Date(timestamp);\nitem.updated_at = (stamp.getMonth() + 1) + \"/\" + stamp.getDate()+ \"/\" + stamp.getFullYear() + \" \" + stamp.getHours() + \":\" + parseMinute(stamp.getMinutes()) + \":\" + stamp.getSeconds();\nfunction parseMinute(input){\n  if(input < 10){\n    return `0${input}`;\n  }\n  return input;\n}\nreturn item;\n"},"name":"assign_manipulation","type":"n8n-nodes-base.functionItem","typeVersion":1,"position":[1000,650]},{"parameters":{"functionCode":"item = item.body.issue;\nlet timecreated = item.created_at.split(' ').slice(0, 2).join(' ');\nlet created = new Date(timecreated);\nitem.created_at = (created.getMonth() + 1) + \"/\" + created.getDate()+ \"/\" + created.getFullYear() + \" \" + created.getHours() + \":\" + parseMinute(created.getMinutes()) + \":\" + created.getSeconds();\nlet timestamp = item.updated_at.split(' ').slice(0, 2).join(' ');\nlet stamp = new Date(timestamp);\nitem.updated_at = (stamp.getMonth() + 1) + \"/\" + stamp.getDate()+ \"/\" + stamp.getFullYear() + \" \" + stamp.getHours() + \":\" + parseMinute(stamp.getMinutes()) + \":\" + stamp.getSeconds();\nfunction parseMinute(input){\n  if(input < 10){\n    return `0${input}`;\n  }\n  return input;\n}\nreturn item;\n"},"name":"close_manipulation","type":"n8n-nodes-base.functionItem","typeVersion":1,"position":[1000,800]}],"connections":{"Github Trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Open","type":"main","index":0}],[{"node":"Update","type":"main","index":0}],[{"node":"Assign","type":"main","index":0}],[{"node":"Closed","type":"main","index":0}]]},"Set":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Open":{"main":[[{"node":"open_manipulation","type":"main","index":0}]]},"Update":{"main":[[{"node":"update_manipulation","type":"main","index":0}]]},"Google Sheets1":{"main":[[{"node":"Set1","type":"main","index":0}]]},"Google Sheets3":{"main":[[{"node":"Set2","type":"main","index":0}]]},"Set2":{"main":[[{"node":"Google Sheets4","type":"main","index":0}]]},"Closed":{"main":[[{"node":"close_manipulation","type":"main","index":0}]]},"Google Sheets5":{"main":[[{"node":"Set3","type":"main","index":0}]]},"Set3":{"main":[[{"node":"Google Sheets6","type":"main","index":0}]]},"open_manipulation":{"main":[[{"node":"Set","type":"main","index":0}]]},"Set1":{"main":[[{"node":"Google Sheets2","type":"main","index":0}]]},"update_manipulation":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"Assign":{"main":[[{"node":"assign_manipulation","type":"main","index":0}]]},"assign_manipulation":{"main":[[{"node":"Google Sheets3","type":"main","index":0}]]},"close_manipulation":{"main":[[{"node":"Google Sheets5","type":"main","index":0}]]}},"createdAt":"2021-03-19T12:16:15.550Z","updatedAt":"2021-04-08T17:12:33.350Z","settings":{"timezone":"Asia/Calcutta"},"staticData":{"node:Github Trigger":{"webhookId":290987449,"webhookEvents":["issues"]}}}