05-01-2021/Webhook Testing
{"id":"47","name":"Webhook Testing","active":true,"nodes":[{"parameters":{},"name":"Start","type":"n8n-nodes-base.start","typeVersion":1,"position":[250,300]},{"parameters":{"httpMethod":"POST","path":"web","options":{}},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[550,300]},{"parameters":{"values":{"string":[{"name":"channel","value":"={{$node[\"Webhook\"].json[\"body\"][\"order\"][\"details\"][\"channel\"]}}"},{"name":"storename","value":"={{$node[\"Webhook\"].json[\"body\"][\"order\"][\"store\"][\"name\"]}}"},{"name":"storeid","value":"={{$node[\"Webhook\"].json[\"body\"][\"order\"][\"store\"][\"id\"]}}"},{"name":"orderid","value":"={{$node[\"Webhook\"].json[\"body\"][\"order\"][\"details\"][\"merchant_ref_id\"]}}"},{"name":"itemname","value":"={{$node[\"Webhook\"].json[\"body\"][\"order\"][\"items\"][0][\"title\"]}}"},{"name":"optionname","value":"="}]}},"name":"Set","type":"n8n-nodes-base.set","typeVersion":1,"position":[700,300]},{"parameters":{"operation":"append","sheetId":"15LxSunjUgo2MJO6kt0l18QlR7pl8L4TcVN-nuraBI3c","options":{}},"name":"Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":1,"position":[850,300],"credentials":{"googleApi":"sheets-production-4"}}],"connections":{"Webhook":{"main":[[{"node":"Set","type":"main","index":0}]]},"Set":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]}},"createdAt":"2021-01-04T11:21:51.653Z","updatedAt":"2021-04-26T17:47:20.538Z","settings":{},"staticData":null}