04/25/2021/n8n backup 2
{"id":"64","name":"n8n backup 2","active":false,"nodes":[{"parameters":{},"name":"Start","type":"n8n-nodes-base.start","typeVersion":1,"position":[720,800]},{"parameters":{"functionCode":"const newItems = [];\nfor (item of items[0].json.data) {\n  newItems.push({json: item});\n}\nreturn newItems;"},"name":"dataArray","type":"n8n-nodes-base.function","position":[1329,794.9708844125271],"typeVersion":1},{"parameters":{"url":"http://localhost:5678/rest/workflows","options":{}},"name":"N8N Workflows","type":"n8n-nodes-base.httpRequest","position":[1179,794.9708844125271],"typeVersion":1},{"parameters":{"resource":"file","operation":"get","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$json[\"name\"]}}.json","asBinaryProperty":false},"name":"GitHub","type":"n8n-nodes-base.github","position":[1679,624.9708844125271],"typeVersion":1,"alwaysOutputData":true,"credentials":{"githubApi":"github - Nikhil's Account"},"continueOnFail":true},{"parameters":{},"name":"Merge","type":"n8n-nodes-base.merge","position":[1879,794.9708844125271],"typeVersion":1},{"parameters":{"url":"=http://localhost:5678/rest/workflows/{{$json[\"id\"]}}","options":{}},"name":"N8N Workflow Detail","type":"n8n-nodes-base.httpRequest","position":[1679,954.9708844125271],"typeVersion":1},{"parameters":{"dataType":"string","value1":"={{$json[\"github_status\"]}}","rules":{"rules":[{"value2":"same"},{"value2":"different","output":1},{"value2":"new","output":2}]}},"name":"github_status","type":"n8n-nodes-base.switch","position":[2179,794.9708844125271],"typeVersion":1},{"parameters":{},"name":"same","type":"n8n-nodes-base.noOp","position":[2379,624.9708844125271],"typeVersion":1},{"parameters":{},"name":"different","type":"n8n-nodes-base.noOp","position":[2379,794.9708844125271],"typeVersion":1},{"parameters":{},"name":"new","type":"n8n-nodes-base.noOp","position":[2379,954.9708844125271],"typeVersion":1},{"parameters":{"resource":"file","operation":"edit","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$node[\"N8N Workflow Detail\"].json[\"data\"][\"name\"]}}.json","fileContent":"={{$node[\"isDiffOrNew\"].json[\"n8n_data_stringy\"]}}","commitMessage":"=[N8N Backup] {{$node[\"N8N Workflow Detail\"].json[\"data\"][\"name\"]}}.json ({{$json[\"github_status\"]}})"},"name":"GitHub Edit","type":"n8n-nodes-base.github","position":[2579,674.9708844125271],"typeVersion":1,"credentials":{"githubApi":"github - Nikhil's Account"}},{"parameters":{"resource":"file","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$node[\"new\"].json[\"name\"]}}.json","fileContent":"={{$node[\"new\"].json[\"n8n_data_stringy\"]}}","commitMessage":"=[N8N Backup] {{$node[\"new\"].json[\"name\"]}}.json ({{$json[\"github_status\"]}})"},"name":"GitHub Create","type":"n8n-nodes-base.github","position":[2579,954.9708844125271],"typeVersion":1,"credentials":{"githubApi":"github - Nikhil's Account"}},{"parameters":{"functionCode":"// File Returned with Content\nif (Object.keys(items[0].json).includes(\"content\")) {\n  // Get JSON Objects\n  var origWorkflow = eval(\"(\"+Buffer.from(items[0].json.content, 'base64').toString()+\")\");\n  var n8nWorkflow = (items[1].json.data);\n  \n  // Order JSON Objects\n  var orderedOriginal = {}\n  var orderedActual = {}\n  \n  Object.keys(origWorkflow).sort().forEach(function(key) {\n    orderedOriginal[key] = origWorkflow[key];\n  });\n  \n  Object.keys(n8nWorkflow).sort().forEach(function(key) {\n    orderedActual[key] = n8nWorkflow[key];\n  });\n  \n  // Determine Difference\n  if ( JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual) ) {\n    items[0].json.github_status = \"same\";\n    items[0].json.content_decoded = orderedOriginal;\n  } else {\n    items[0].json.github_status = \"different\";\n    items[0].json.content_decoded = orderedOriginal;\n    items[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n// No File Returned / New Workflow\n} else {\n  // Order JSON Object\n  var n8nWorkflow = (items[1].json.data);\n  var orderedActual = {}\n  Object.keys(n8nWorkflow).sort().forEach(function(key) {\n    orderedActual[key] = n8nWorkflow[key];\n  });\n  \n  // Proper Formatting\n  items[0].json.github_status = \"new\";\n  items[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return Items\nreturn items;"},"name":"isDiffOrNew","type":"n8n-nodes-base.function","position":[2029,794.9708844125271],"typeVersion":1},{"parameters":{"triggerTimes":{"item":[{"hour":20,"minute":11}]}},"name":"Daily @ 20:00","type":"n8n-nodes-base.cron","position":[879,944.9708844125271],"typeVersion":1},{"parameters":{"batchSize":1},"name":"OneAtATime","type":"n8n-nodes-base.splitInBatches","position":[1479,794.9708844125271],"typeVersion":1},{"parameters":{"values":{"string":[{"name":"repo.owner","value":"nikhil-31"},{"name":"repo.name","value":"n8n_backup"},{"name":"repo.path","value":"backup"}]}},"name":"Globals","type":"n8n-nodes-base.set","position":[1029,794.9708844125271],"typeVersion":1}],"connections":{"new":{"main":[[{"node":"GitHub Create","type":"main","index":0}]]},"same":{"main":[[{"node":"OneAtATime","type":"main","index":0}]]},"Merge":{"main":[[{"node":"isDiffOrNew","type":"main","index":0}]]},"GitHub":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Globals":{"main":[[{"node":"N8N Workflows","type":"main","index":0}]]},"dataArray":{"main":[[{"node":"OneAtATime","type":"main","index":0}]]},"different":{"main":[[{"node":"GitHub Edit","type":"main","index":0}]]},"OneAtATime":{"main":[[{"node":"GitHub","type":"main","index":0},{"node":"N8N Workflow Detail","type":"main","index":0}]]},"GitHub Edit":{"main":[[{"node":"OneAtATime","type":"main","index":0}]]},"isDiffOrNew":{"main":[[{"node":"github_status","type":"main","index":0}]]},"Daily @ 20:00":{"main":[[]]},"GitHub Create":{"main":[[{"node":"OneAtATime","type":"main","index":0}]]},"N8N Workflows":{"main":[[{"node":"dataArray","type":"main","index":0}]]},"github_status":{"main":[[{"node":"same","type":"main","index":0}],[{"node":"different","type":"main","index":0}],[{"node":"new","type":"main","index":0}]]},"N8N Workflow Detail":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Start":{"main":[[{"node":"Globals","type":"main","index":0}]]}},"createdAt":"2021-03-18T22:35:59.706Z","updatedAt":"2021-03-18T22:49:12.576Z","settings":{},"staticData":null}