04/25/2021/n8n backups 3
{"id":"71","name":"n8n backups 3","active":true,"nodes":[{"parameters":{},"name":"Start","type":"n8n-nodes-base.start","typeVersion":1,"position":[250,300]},{"parameters":{"mode":"mergeByIndex"},"name":"Merge","type":"n8n-nodes-base.merge","position":[1050,300],"typeVersion":1},{"parameters":{"mode":"jsonToBinary","destinationKey":"=data","options":{"useRawData":false}},"name":"Move Binary Data","type":"n8n-nodes-base.moveBinaryData","position":[1350,300],"typeVersion":1},{"parameters":{"functionCode":"return items[0].json.data.map(item => {\n  var today = new Date();\n  var dd = String(today.getDate()).padStart(2, '0');\n  var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!\n  var yyyy = today.getFullYear();\n\n  today = mm + '/' + dd + '/' + yyyy;\n  item.current_time = today\n  return {json: item}\n});\n\n\n\n"},"name":"Map","type":"n8n-nodes-base.function","position":[750,300],"typeVersion":1},{"parameters":{"url":"=http://automate.urbanpiper.com/rest/workflows/{{$node[\"Map\"].data[\"id\"]}}","options":{}},"name":"Get Workflow","type":"n8n-nodes-base.httpRequest","position":[900,450],"typeVersion":1},{"parameters":{"url":"http://automate.urbanpiper.com/rest/workflows","options":{}},"name":"Get Workflow List","type":"n8n-nodes-base.httpRequest","position":[600,300],"typeVersion":1},{"parameters":{"functionCode":"item = item.data;\nreturn item;"},"name":"FunctionItem","type":"n8n-nodes-base.functionItem","position":[1200,300],"typeVersion":1},{"parameters":{"triggerTimes":{"item":[{"hour":1,"minute":47}]}},"name":"Cron","type":"n8n-nodes-base.cron","typeVersion":1,"position":[380,530]},{"parameters":{"resource":"file","owner":"nikhil-31","repository":"n8n_backup","filePath":"={{$node[\"Merge\"].json[\"current_time\"]}}/{{$node[\"Merge\"].json[\"name\"]}}","binaryData":true,"binaryPropertyName":"=data","commitMessage":"={{$node[\"Merge\"].json[\"name\"]}}"},"name":"Github","type":"n8n-nodes-base.github","typeVersion":1,"position":[1500,300],"credentials":{"githubApi":"github - Nikhil's Account"}}],"connections":{"Map":{"main":[[{"node":"Get Workflow","type":"main","index":0},{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"FunctionItem","type":"main","index":0}]]},"FunctionItem":{"main":[[{"node":"Move Binary Data","type":"main","index":0}]]},"Get Workflow":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Get Workflow List":{"main":[[{"node":"Map","type":"main","index":0}]]},"Start":{"main":[[{"node":"Get Workflow List","type":"main","index":0}]]},"Move Binary Data":{"main":[[{"node":"Github","type":"main","index":0}]]}},"createdAt":"2021-04-24T20:13:12.339Z","updatedAt":"2021-04-24T22:18:36.649Z","settings":{},"staticData":null}