04-30-2021/Support First Response Reminder
{"id":"48","name":"Support First Response Reminder","active":true,"nodes":[{"parameters":{},"name":"Start","type":"n8n-nodes-base.start","typeVersion":1,"position":[250,300]},{"parameters":{"httpMethod":"POST","path":"first","options":{}},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[520,300]},{"parameters":{"channel":"support_folks","as_user":true,"attachments":[{"color":"#035C28","text":"=<!here> This ticket is due for first response by {{$node[\"FunctionItem\"].json[\"time_firstresponse\"]}}\n\n*Ticket ID*: {{$node[\"Webhook\"].json[\"body\"][\"ticket_id\"]}}\n*Priority*: {{$node[\"Webhook\"].json[\"body\"][\"priority\"]}}\n*Group Assigned*: {{$node[\"Webhook\"].json[\"body\"][\"group\"]}}\n\n*Subject*: {{$node[\"Webhook\"].json[\"body\"][\"subject\"]}}\n*Requestor Name*: {{$node[\"Webhook\"].json[\"body\"][\"requestor\"]}}","footer":"={{$node[\"Webhook\"].json[\"body\"][\"url\"]}}"}],"otherOptions":{}},"name":"Slack","type":"n8n-nodes-base.slack","typeVersion":1,"position":[830,300],"credentials":{"slackApi":"Slack-Production"}},{"parameters":{"functionCode":"item = item.body;\nlet timecreated = item.time_firstresponse.split(' ').slice(0, 2).join(' ');\nlet created = new Date(timecreated);\nitem.time_firstresponse = created.getDate() + \"/\" + (created.getMonth() + 1)+ \"/\" + created.getFullYear() + \" \" + created.getHours() + \":\" + parseMinute(created.getMinutes()) + \":\" + created.getSeconds();\nfunction parseMinute(input){\n  if(input < 10){\n    return `0${input}`;\n  }\n  return input;\n}\nreturn item;\n"},"name":"FunctionItem","type":"n8n-nodes-base.functionItem","typeVersion":1,"position":[680,300]}],"connections":{"Webhook":{"main":[[{"node":"FunctionItem","type":"main","index":0}]]},"FunctionItem":{"main":[[{"node":"Slack","type":"main","index":0}]]}},"createdAt":"2021-01-28T10:23:20.276Z","updatedAt":"2021-04-27T09:14:10.408Z","settings":{},"staticData":null}