04-27-2021/GH-issues-codex-1
{"id":"27","name":"GH-issues-codex-1","active":true,"nodes":[{"parameters":{},"name":"Start","type":"n8n-nodes-base.start","typeVersion":1,"position":[-220,420]},{"parameters":{"conditions":{"boolean":[],"string":[{"value1":"={{$node[\"Github Trigger - 2\"].json[\"body\"][\"action\"]}}","value2":"assigned"}]},"combineOperation":"=all"},"name":"IF","type":"n8n-nodes-base.if","typeVersion":1,"position":[216,415]},{"parameters":{"operation":"lookup","sheetId":"10vfQV-qtBoKM7mM5PaCZkiwIY69V4B41_6kunESIPPQ","range":"issues-codex!A:K","lookupColumn":"number","lookupValue":"={{$node[\"IF\"].json[\"body\"][\"issue\"][\"number\"]}}","options":{"returnAllMatches":true,"valueRenderMode":"UNFORMATTED_VALUE"}},"name":"Lookup by number3","type":"n8n-nodes-base.googleSheets","typeVersion":1,"position":[376,315],"credentials":{"googleApi":"sheet-manas"}},{"parameters":{"values":{"number":[],"string":[{"name":"assignee","value":"={{$node[\"Github Trigger - 2\"].json[\"body\"][\"assignee\"][\"login\"]}}"}]}},"name":"Setup data2","type":"n8n-nodes-base.set","typeVersion":1,"position":[566,315]},{"parameters":{"operation":"update","sheetId":"10vfQV-qtBoKM7mM5PaCZkiwIY69V4B41_6kunESIPPQ","range":"issues-codex!A:K","keyRow":"=0","key":"=number","options":{"valueInputMode":"RAW"}},"name":"Update sheet4","type":"n8n-nodes-base.googleSheets","typeVersion":1,"position":[766,315],"credentials":{"googleApi":"sheet-manas"}},{"parameters":{"owner":"urbanpiper","repository":"issues-server","events":["issues"]},"name":"Github Trigger - 2","type":"n8n-nodes-base.githubTrigger","typeVersion":1,"position":[16,415],"credentials":{"githubApi":"github - manas account"}},{"parameters":{"values":{"number":[],"string":[{"name":"assignee","value":"="}]}},"name":"Setup data4","type":"n8n-nodes-base.set","typeVersion":1,"position":[770,490]},{"parameters":{"operation":"update","sheetId":"10vfQV-qtBoKM7mM5PaCZkiwIY69V4B41_6kunESIPPQ","range":"issues-codex!A:K","keyRow":"=0","key":"=number","options":{"valueInputMode":"RAW"}},"name":"Update sheet5","type":"n8n-nodes-base.googleSheets","typeVersion":1,"position":[980,490],"credentials":{"googleApi":"sheet-manas"}},{"parameters":{"operation":"lookup","sheetId":"10vfQV-qtBoKM7mM5PaCZkiwIY69V4B41_6kunESIPPQ","range":"issues-codex!A:K","lookupColumn":"number","lookupValue":"={{$node[\"IF\"].json[\"body\"][\"issue\"][\"number\"]}}","options":{"returnAllMatches":true,"valueRenderMode":"UNFORMATTED_VALUE"}},"name":"Lookup by number2","type":"n8n-nodes-base.googleSheets","typeVersion":1,"position":[590,490],"credentials":{"googleApi":"sheet-manas"}},{"parameters":{"conditions":{"boolean":[],"string":[{"value1":"={{$node[\"Github Trigger - 2\"].json[\"body\"][\"action\"]}}","value2":"unassigned"}]},"combineOperation":"=all"},"name":"IF1","type":"n8n-nodes-base.if","typeVersion":1,"position":[380,510]}],"connections":{"IF":{"main":[[{"node":"Lookup by number3","type":"main","index":0}],[{"node":"IF1","type":"main","index":0}]]},"Lookup by number3":{"main":[[{"node":"Setup data2","type":"main","index":0}]]},"Setup data2":{"main":[[{"node":"Update sheet4","type":"main","index":0}]]},"Github Trigger - 2":{"main":[[{"node":"IF","type":"main","index":0}]]},"Setup data4":{"main":[[{"node":"Update sheet5","type":"main","index":0}]]},"Lookup by number2":{"main":[[{"node":"Setup data4","type":"main","index":0}]]},"IF1":{"main":[[{"node":"Lookup by number2","type":"main","index":0}]]}},"createdAt":"2020-10-22T17:01:38.856Z","updatedAt":"2020-10-24T18:49:19.520Z","settings":{},"staticData":{"node:Github Trigger - 2":{"webhookId":257639757,"webhookEvents":["issues"]}}}