04-27-2021/GH-Sheet (Comment) {Configuration}
{"id":"67","name":"GH-Sheet (Comment) {Configuration}","active":false,"nodes":[{"parameters":{},"name":"Start","type":"n8n-nodes-base.start","typeVersion":1,"position":[270,320]},{"parameters":{"owner":"analystO7","repository":"API","events":["issues"]},"name":"Github Trigger","type":"n8n-nodes-base.githubTrigger","typeVersion":1,"position":[440,310],"credentials":{"githubApi":"Github-Test Account"}},{"parameters":{"dataType":"string","value1":"={{$node[\"Github Trigger\"].json[\"body\"][\"action\"]}}","rules":{"rules":[{"value2":"reopened"},{"value2":"unlabeled","output":1},{"value2":"unassigned","output":2}]}},"name":"Switch","type":"n8n-nodes-base.switch","typeVersion":1,"position":[650,310]},{"parameters":{},"name":"Function","type":"n8n-nodes-base.function","typeVersion":1,"position":[870,190]},{"parameters":{},"name":"FunctionItem","type":"n8n-nodes-base.functionItem","typeVersion":1,"position":[1020,190]},{"parameters":{"options":{}},"name":"Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":1,"position":[1170,190]},{"parameters":{},"name":"Set","type":"n8n-nodes-base.set","typeVersion":1,"position":[1320,190]},{"parameters":{"options":{}},"name":"Google Sheets1","type":"n8n-nodes-base.googleSheets","typeVersion":1,"position":[1470,190]},{"parameters":{},"name":"Function1","type":"n8n-nodes-base.function","typeVersion":1,"position":[870,380]},{"parameters":{},"name":"FunctionItem1","type":"n8n-nodes-base.functionItem","typeVersion":1,"position":[1020,380]},{"parameters":{"options":{}},"name":"Google Sheets2","type":"n8n-nodes-base.googleSheets","typeVersion":1,"position":[1170,380]},{"parameters":{},"name":"Set1","type":"n8n-nodes-base.set","typeVersion":1,"position":[1320,380]},{"parameters":{"options":{}},"name":"Google Sheets3","type":"n8n-nodes-base.googleSheets","typeVersion":1,"position":[1470,380]},{"parameters":{},"name":"Function2","type":"n8n-nodes-base.function","typeVersion":1,"position":[870,570]},{"parameters":{},"name":"FunctionItem2","type":"n8n-nodes-base.functionItem","typeVersion":1,"position":[1020,570]},{"parameters":{"options":{}},"name":"Google Sheets4","type":"n8n-nodes-base.googleSheets","typeVersion":1,"position":[1170,570]},{"parameters":{},"name":"Set2","type":"n8n-nodes-base.set","typeVersion":1,"position":[1320,570]},{"parameters":{"options":{}},"name":"Google Sheets5","type":"n8n-nodes-base.googleSheets","typeVersion":1,"position":[1470,570]}],"connections":{"Github Trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Function","type":"main","index":0}],[{"node":"Function1","type":"main","index":0}],[{"node":"Function2","type":"main","index":0}]]},"Function":{"main":[[{"node":"FunctionItem","type":"main","index":0}]]},"FunctionItem":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Set","type":"main","index":0}]]},"Set":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"Function1":{"main":[[{"node":"FunctionItem1","type":"main","index":0}]]},"FunctionItem1":{"main":[[{"node":"Google Sheets2","type":"main","index":0}]]},"Google Sheets2":{"main":[[{"node":"Set1","type":"main","index":0}]]},"Set1":{"main":[[{"node":"Google Sheets3","type":"main","index":0}]]},"Function2":{"main":[[{"node":"FunctionItem2","type":"main","index":0}]]},"FunctionItem2":{"main":[[{"node":"Google Sheets4","type":"main","index":0}]]},"Google Sheets4":{"main":[[{"node":"Set2","type":"main","index":0}]]},"Set2":{"main":[[{"node":"Google Sheets5","type":"main","index":0}]]}},"createdAt":"2021-03-31T09:59:02.849Z","updatedAt":"2021-04-08T13:07:57.528Z","settings":{},"staticData":{"node:Github Trigger":{"webhookId":289490307,"webhookEvents":["issue_comment"]}}}