04-25-2021/GH-issues-oms-2
{"id":"32","name":"GH-issues-oms-2","active":true,"nodes":[{"parameters":{},"name":"Start","type":"n8n-nodes-base.start","typeVersion":1,"position":[250,300]},{"parameters":{"owner":"urbanpiper","repository":"issues-web","events":["issues"]},"name":"Github Trigger","type":"n8n-nodes-base.githubTrigger","typeVersion":1,"position":[550,300],"credentials":{"githubApi":"github - manas account"}},{"parameters":{"dataType":"string","value1":"={{$node[\"Github Trigger\"].json[\"body\"][\"action\"]}}","rules":{"rules":[{"value2":"opened"},{"value2":"closed","output":1},{"value2":"labeled","output":2},{"value2":"milestoned","output":3}]}},"name":"Switch","type":"n8n-nodes-base.switch","typeVersion":1,"position":[750,300]},{"parameters":{"functionCode":"let labels = $node[\"Github Trigger\"].json[\"body\"][\"issue\"][\"labels\"];\n\nlet updated_labels = \"\";\nlet status = \"open\";\n\nfor (i = 0; i < labels.length; i++) {\n  updated_labels += labels[i][\"name\"] + \",\";\n}\n\nitems[0].json.labels = updated_labels;\nitems[0].json.status = status;\n\nreturn items;\n\n"},"name":"issue-opened","type":"n8n-nodes-base.function","typeVersion":1,"position":[1190,190]},{"parameters":{"functionCode":"let issue = $node[\"Github Trigger\"].json[\"body\"][\"issue\"];\n\nlet status = \"closed\";\n\nlet closed_at = issue.closed_at;\n\nitems[0].json.new_status = status;\nitems[0].json.time_closed_at = closed_at;\n\nreturn items;\n\n"},"name":"issue-closed","type":"n8n-nodes-base.function","typeVersion":1,"position":[1190,450]},{"parameters":{"functionCode":"let labels = $node[\"Github Trigger\"].json[\"body\"][\"issue\"][\"labels\"];\n\nlet updated_labels = \"\";\n\nfor (i = 0; i < labels.length; i++) {\n  updated_labels += labels[i][\"name\"] + \",\";\n}\n\nitems[0].json.new_labels = updated_labels;\n\nreturn items;\n\n\n"},"name":"labels-changed","type":"n8n-nodes-base.function","typeVersion":1,"position":[1190,670]},{"parameters":{"functionCode":"let milestone = $node[\"Github Trigger\"].json[\"body\"][\"issue\"][\"milestone\"][\"title\"];\n\nitems[0].json.new_milestone = milestone;\n\nreturn items;\n"},"name":"milestone-updated","type":"n8n-nodes-base.function","typeVersion":1,"position":[1200,880]},{"parameters":{"keepOnlySet":true,"values":{"number":[{"name":"number","value":"={{$node[\"issue-opened\"].json[\"body\"][\"issue\"][\"number\"]}}"}],"string":[{"name":"title","value":"={{$node[\"issue-opened\"].json[\"body\"][\"issue\"][\"title\"]}}"},{"name":"state","value":"={{$node[\"issue-opened\"].json[\"status\"]}}"},{"name":"labels","value":"={{$node[\"issue-opened\"].json[\"labels\"]}}"},{"name":"user","value":"={{$node[\"issue-opened\"].json[\"body\"][\"issue\"][\"user\"][\"login\"]}}"},{"name":"assignee","value":"={{$node[\"issue-opened\"].json[\"body\"][\"issue\"][\"assignee\"].login}}"},{"name":"created_at","value":"={{$node[\"issue-opened\"].json[\"body\"][\"issue\"][\"created_at\"]}}"},{"name":"milestone","value":"={{$node[\"issue-opened\"].json[\"body\"][\"issue\"][\"milestone\"].title}}"}]}},"name":"Set new issue","type":"n8n-nodes-base.set","typeVersion":1,"position":[1400,190]},{"parameters":{"operation":"append","sheetId":"10vfQV-qtBoKM7mM5PaCZkiwIY69V4B41_6kunESIPPQ","range":"issues-web-client!A:K","options":{"valueInputMode":"=USER_ENTERED"}},"name":"Google sheet - new entry","type":"n8n-nodes-base.googleSheets","typeVersion":1,"position":[1580,190],"credentials":{"googleApi":"sheet-manas"}},{"parameters":{"operation":"lookup","sheetId":"10vfQV-qtBoKM7mM5PaCZkiwIY69V4B41_6kunESIPPQ","range":"issues-oms!A:K","lookupColumn":"number","lookupValue":"={{$node[\"labels-changed\"].json[\"body\"][\"issue\"][\"number\"]}}","options":{"returnAllMatches":true,"valueRenderMode":"UNFORMATTED_VALUE"}},"name":"Lookup by number","type":"n8n-nodes-base.googleSheets","typeVersion":1,"position":[1410,670],"credentials":{"googleApi":"sheet-manas"}},{"parameters":{"operation":"lookup","sheetId":"10vfQV-qtBoKM7mM5PaCZkiwIY69V4B41_6kunESIPPQ","range":"issues-oms!A:K","lookupColumn":"number","lookupValue":"={{$node[\"issue-closed\"].json[\"body\"][\"issue\"][\"number\"]}}","options":{"returnAllMatches":true,"valueRenderMode":"UNFORMATTED_VALUE"}},"name":"Lookup by number1","type":"n8n-nodes-base.googleSheets","typeVersion":1,"position":[1400,450],"credentials":{"googleApi":"sheet-manas"}},{"parameters":{"values":{"number":[],"string":[{"name":"closed_at","value":"={{$node[\"issue-closed\"].json[\"time_closed_at\"]}}"},{"name":"state","value":"={{$node[\"issue-closed\"].json[\"new_status\"]}}"}]}},"name":"Set data","type":"n8n-nodes-base.set","typeVersion":1,"position":[1590,450]},{"parameters":{"values":{"number":[],"string":[{"name":"labels","value":"={{$node[\"labels-changed\"].json[\"new_labels\"]}}"}]}},"name":"Setup data","type":"n8n-nodes-base.set","typeVersion":1,"position":[1590,670]},{"parameters":{"operation":"update","sheetId":"10vfQV-qtBoKM7mM5PaCZkiwIY69V4B41_6kunESIPPQ","range":"issues-web-client!A:K","keyRow":"=0","key":"=number","options":{"valueInputMode":"RAW"}},"name":"Update sheet","type":"n8n-nodes-base.googleSheets","typeVersion":1,"position":[1770,670],"credentials":{"googleApi":"sheet-manas"}},{"parameters":{"operation":"update","sheetId":"10vfQV-qtBoKM7mM5PaCZkiwIY69V4B41_6kunESIPPQ","range":"issues-web-client!A:K","key":"number","options":{"valueInputMode":"USER_ENTERED"}},"name":"Update sheet3","type":"n8n-nodes-base.googleSheets","typeVersion":1,"position":[1770,450],"credentials":{"googleApi":"sheet-manas"}},{"parameters":{"operation":"lookup","sheetId":"10vfQV-qtBoKM7mM5PaCZkiwIY69V4B41_6kunESIPPQ","range":"issues-oms!A:K","lookupColumn":"number","lookupValue":"={{$node[\"milestone-updated\"].json[\"body\"][\"issue\"][\"number\"]}}","options":{"returnAllMatches":true,"valueRenderMode":"UNFORMATTED_VALUE"}},"name":"Lookup by number4","type":"n8n-nodes-base.googleSheets","typeVersion":1,"position":[1400,880],"credentials":{"googleApi":"sheet-manas"}},{"parameters":{"values":{"number":[],"string":[{"name":"milestone","value":"={{$node[\"milestone-updated\"].json[\"new_milestone\"]}}"}]}},"name":"Setup data3","type":"n8n-nodes-base.set","typeVersion":1,"position":[1590,880]},{"parameters":{"operation":"update","sheetId":"10vfQV-qtBoKM7mM5PaCZkiwIY69V4B41_6kunESIPPQ","range":"issues-web-client!A:K","keyRow":"=0","key":"=number","options":{"valueInputMode":"RAW"}},"name":"Update sheet1","type":"n8n-nodes-base.googleSheets","typeVersion":1,"position":[1770,870],"credentials":{"googleApi":"sheet-manas"}}],"connections":{"Github Trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"issue-opened","type":"main","index":0}],[{"node":"issue-closed","type":"main","index":0}],[{"node":"labels-changed","type":"main","index":0}],[{"node":"milestone-updated","type":"main","index":0}]]},"issue-opened":{"main":[[{"node":"Set new issue","type":"main","index":0}]]},"issue-closed":{"main":[[{"node":"Lookup by number1","type":"main","index":0}]]},"Set new issue":{"main":[[{"node":"Google sheet - new entry","type":"main","index":0}]]},"labels-changed":{"main":[[{"node":"Lookup by number","type":"main","index":0}]]},"Lookup by number":{"main":[[{"node":"Setup data","type":"main","index":0}]]},"Lookup by number1":{"main":[[{"node":"Set data","type":"main","index":0}]]},"Set data":{"main":[[{"node":"Update sheet3","type":"main","index":0}]]},"Setup data":{"main":[[{"node":"Update sheet","type":"main","index":0}]]},"milestone-updated":{"main":[[{"node":"Lookup by number4","type":"main","index":0}]]},"Lookup by number4":{"main":[[{"node":"Setup data3","type":"main","index":0}]]},"Setup data3":{"main":[[{"node":"Update sheet1","type":"main","index":0}]]}},"createdAt":"2020-10-22T17:28:00.789Z","updatedAt":"2021-03-08T11:44:24.136Z","settings":{},"staticData":{"node:Github Trigger":{"webhookId":285518715,"webhookEvents":["issues"]}}}