05-03-2021/Resolution Reminder  - Support
{"id":"52","name":"Resolution Reminder  - Support","active":true,"nodes":[{"parameters":{},"name":"Start","type":"n8n-nodes-base.start","typeVersion":1,"position":[250,300]},{"parameters":{"channel":"support_folks","as_user":true,"attachments":[{"text":"=Following ticket is *{{$node[\"Webhook\"].json[\"body\"][\"status\"]}}* and due for resolution by *{{$node[\"FunctionItem\"].json[\"resolution\"]}}*\n*Ticket ID* - {{$node[\"Webhook\"].json[\"body\"][\"ticket_id\"]}}\n*Agent* -  <@{{$node[\"Webhook\"].json[\"body\"][\"user\"]}}>\n*Merchant* - {{$node[\"Webhook\"].json[\"body\"][\"merchant\"]}}\n\n*Priority* - {{$node[\"Webhook\"].json[\"body\"][\"priority\"]}}\n*Group* - {{$node[\"Webhook\"].json[\"body\"][\"group\"]}}\n*Type* - {{$node[\"Webhook\"].json[\"body\"][\"type\"]}}\n*Related to* - {{$node[\"Webhook\"].json[\"body\"][\"relation\"]}}\n\n*Subject* - {{$node[\"Webhook\"].json[\"body\"][\"subject\"]}}\n*Requestor* - {{$node[\"Webhook\"].json[\"body\"][\"requestor\"]}}","color":"#7B2F70","footer":"={{$node[\"Webhook\"].json[\"body\"][\"url\"]}}"}],"otherOptions":{}},"name":"Slack","type":"n8n-nodes-base.slack","typeVersion":1,"position":[830,300],"credentials":{"slackApi":"Slack-Production"}},{"parameters":{"httpMethod":"POST","path":"post","options":{}},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[500,300]},{"parameters":{"functionCode":"item = item.body;\nlet timecreated = item.resolution.split(' ').slice(0, 2).join(' ');\nlet created = new Date(timecreated);\nitem.resolution = created.getDate() + \"/\" + (created.getMonth() + 1)+ \"/\" + created.getFullYear() + \" \" + created.getHours() + \":\" + parseMinute(created.getMinutes()) + \":\" + created.getSeconds();\nfunction parseMinute(input){\n  if(input < 10){\n    return `0${input}`;\n  }\n  return input;\n}\nreturn item;\n"},"name":"FunctionItem","type":"n8n-nodes-base.functionItem","typeVersion":1,"position":[670,300]}],"connections":{"Webhook":{"main":[[{"node":"FunctionItem","type":"main","index":0}]]},"FunctionItem":{"main":[[{"node":"Slack","type":"main","index":0}]]}},"createdAt":"2021-02-02T10:56:17.691Z","updatedAt":"2021-04-27T09:56:31.224Z","settings":{"timezone":"Asia/Calcutta"},"staticData":null}